.footer {
  display: block;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 64px;
}

.copyright {
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto 0 auto 32px;
  height: 16px;
}
